@media screen and (max-width:1000px) {
    body{
        background-color: rebeccapurple;
    }
    nav{
        flex-direction: column;
    }
    .logo img{
    
        justify-content: center;
        margin: 12px 0;
       
        
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        margin: 12px 16px;
    }
    .slider {
        margin-right: 50vw;
    }
    
    }